<!DOCTYPE html>
<html>
	<head>
	  	<title><%= title %></title>
	    <link rel='stylesheet' href='/main.css' />
	    <script src="/app.js"></script>
	    <meta name="description" content="<%= description %>" />
	    <meta name="robots" content="index, follow" >
		<meta name="revisit-after" content="1 month">
		<meta name="author" content="Ethan Eldridge, Scott MacEwan, Shelby Smullen, Joshua Dickerson">
		<link rel="shortcut icon" href="/images/favicon.jpg" type="image/jpg">
		<link rel="icon" href="/images/favicon.jpg" type="image/jpg">
	  	<!-- Meta information for Search Engines and site description -->
	  	<META name="description" content=>
	  	<META name="keywords" content="Xenon Apps, xenon, website, projects">
	  	<style type="text/css">
	  	.project-block{
	  		margin-left: 5%;
	  	}
	  	.project-block p{
	  		margin-left: 0%;
	  	}
	  	</style>
	</head>

	<body>
		<header>
			<h1><a href="/index.html"><img id="logo" src="/images/xenonweb.png" alt="Xenon Apps website logo image"/></a></h1>
			<nav>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/company.html">Company</a></li>
					<li><a href="index.html">Projects</a></li>
					<li><a href="/contact.html">Contact Us</a></li>
				</ul>
			</nav>
		</header>

		<div id="content">
			<%- yield %>
			<section>
				<h2>Projects</h2>
				<% for(var slug in public.projects._data){ %>
					<%if (slug != current.source) {%>
					<div class="project-block">
				  		<h3><a href="/projects/<%= slug %>.html"><%= public.projects._data[slug].title %></a></h3>
				  		<p>
				  			<%= public.projects._data[slug].description %>
				  		</p>
				  	</div>
				  	<% }; %>
				<% }; %>
			</section>
		</div>	
	</body>

</html>
