<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/main.css' />
    <script src="/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/Chart.js/Chart.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="<%= description %>" />
    <META name="keywords" content="Xenon Apps, xenon, website, greenup, greenupvermont, greenupapp, app, green"> <!-- Add more keywords as we create pages (Names for profiles)-->
    <meta name="robots" content="index, follow" >
    <meta name="revisit-after" content="1 month">
    <meta name="author" content="Ethan Eldridge, Shelby Smullen, Joshua Dickerson, Sean Perkins, Phelan Vendeville">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico">
    <link rel="icon" href="/images/favicon.ico" type="image/ico">

    <!-- Facebook Open Graph Tags -->
    <meta property="og:title" content="Xenon Apps" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/images/xenonweb.png" />
    <meta property="og:url" content="http://xenonapps.com/" />
    <meta property="og:description" content="<%= description %>" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Xenon Apps" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="/images/xenonweb.png" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47079120-1', 'xenonapps.com');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <%- partial("_header") %>
    <%- yield %>
    <%- partial("_footer.ejs") %>
  </body>
</html>
