<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/main.css' />
    <script src="/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta name="description" content="<%= description %>" />
    <META name="keywords" content="Xenon Apps, xenon, website"> <!-- Add more keywords as we create pages (Names for profiles)-->
    <meta name="robots" content="index, follow" >
    <meta name="revisit-after" content="1 month">
    <meta name="author" content="Ethan Eldridge, Shelby Smullen, Joshua Dickerson">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico">
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
  </head>
  <body>
    <%- partial("_header") %>
    <div id="abovefold" class="index">
    <%- yield %>
    </div>
    <div id="companyFold">
      <%- partial("/company/index.ejs") %>
    </div>
    <div id="contactFold">
      <%- partial("contact.ejs") %>
    </div>
    <div id="projectsFold">
      <%- partial("/projects/index.ejs") %>
    </div>
    <%- partial("_footer.ejs") %>
  </body>
</html>